.nav-tabs{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.custom-tabs .tab-content {
    border: 1px solid #f2f2f2;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.custom-tabs .tab-content .card .card-body h5 {
    font-size: 1.10rem !important;
}
.custom-tabs .tab-content .card .card-body {
    min-height: 80px;
    padding: 1rem;
}
.custom-tabs .tab-content ol, ul {
    padding-left: 0px;
}
.custom-tabs .tab-content ol li, ul li {
    padding-bottom: 15px;
    color: #000;
}
.custom-tabs .tab-content .nobullet {
    list-style-type: none;
}
.custom-ul ul{
    padding-left: 15px;
}
.custom-ul .mleft {
    padding-left: 15px !important;
}
.custom-tabs .tab-content p, li {
    color: #000;
}
.testimonal .carousel-inner{
    background-color: #f2f2f2;
    width: 100%;
    min-height: 330px;
}
.testimonal .carousel-inner .carousel-item .carousel-caption p {
    color: #000;
}
.testimonal .carousel-caption {
    top: 20px !important;
}
.contact-us .card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contact-us .card a{
    color: #000;
}

.section_footer_sticky {display:none;}
.section_footer_sticky p, a{color:#fff;}
.section_footer_sticky .row{padding-left: 15px;padding-right: 15px;}

.testimonals .card .card-body a {
    color: #bd5d38;
}

@media (max-width: 600px) {
    h2 {
        font-size: 1.5rem;
    }
    .custom-tabs .nav-tabs .nav-link {
        width: 100%;
    }
    section.resume-section {
        padding-top: 2rem !important;
    }   
    .m-mb {
        margin-bottom: 20px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    h6 {
        font-size: 0.87rem;
    }
    .custom-tabs .tab-content .card .card-body {
        min-height: 50px;
    }
    .testimonal .carousel-inner {
        min-height: 630px;
    }
    .section_footer_sticky {
        background:#01008a; position: sticky;
        bottom: 0;
        z-index: 1020; display: block;
    }
    .section_footer_sticky p, a {font-size: 1.1rem; margin: 0px;}
    .border-ri {border-right:1px solid #fff;}
}
