.headersection {
    background: #eef9ff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.bg-color-1 {
    background-color: #f1f7fc;
}
.card-bg-color-1 {
    color: #000;
}
.card-bg-color-2{
    color: #000;
}
.card-bg-color-3{
    color: #000;
}
.section-achivements .card .card-body{
    padding: 8px;
}
.section-achivements .card .card-body .fa {
    color: #05477d;
}
.headersection p {
    font-size: 12px;
    margin: 0px;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #000;
}
.button-1 {
    background: #004085;
    border: 1px solid #17a2b8;
    border-radius: 20px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}
.headersection .fa{
    font-size: 18px;
    color: #17a2b8;
    vertical-align: middle;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.section-achivements .card .card-body p {
    font-size: 18px;
}
.section-achivements .card {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
    border-radius: 15px;
}
.nav-tabs{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.custom-tabs .tab-content {
    border: 1px solid #f2f2f2;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.custom-tabs .tab-content .card .card-body h5 {
    font-size: 1.10rem !important;
}
.custom-tabs .tab-content .card .card-body {
    min-height: 80px;
    padding: 1rem;
}
.custom-tabs .tab-content ol, ul {
    padding-left: 0px;
}
.custom-tabs .tab-content ol li, ul li {
    padding-bottom: 0px;
    color: #000;
}
.custom-tabs .tab-content .nobullet {
    list-style-type: none;
}
.custom-ul ul{
    padding-left: 15px;
}
.custom-ul .mleft {
    padding-left: 15px !important;
}
.custom-tabs .tab-content p, li {
    color: #000;
    font-family: 'Montserrat';
    font-size: 15px;
}
.testimonal {
    border: 1px solid #05477d;
    border-radius: 15px;
}
.testimonal .carousel-inner{
    width: 100%;
    min-height: 330px;
}
.testimonal .carousel-inner .carousel-item .carousel-caption p {
    color: #000;
}
.testimonal .carousel-caption {
    top: 20px !important;
}
.testimonals .card .card-body .fa{
    font-size: 20px;
    color: #05477d;
}
.testimonals .card .card-body a{
    color: #05477d;
}
.testimonals .card {
    margin-bottom: 15px;
}
.testimonial-block {
    text-align: center;
}
.contact-us .card {
    background: transparent;
}
.card.no-bg{
    background: transparent;
    justify-content: center;
    align-items: center;
}
.contact-us .card h6 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.contact-us .card p {
    color: #000;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 8px;
}
.contact-us .card a{
    color: #000;
}
.custom-tabs .nav-tabs .nav-link {
    background: transparent;
    border-bottom: 1px solid #e9ecef;
}
.custom-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #05477d;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    
}
.section-title h2 {
    position: relative;
    padding-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: none;
    color: #05477d;
}
.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    left: 0px;
    right: 0px;
    bottom: 1px;
    background: #ddd;
    margin: auto;
}
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(5 71 125);
    margin: auto;
}
.custom-tabs h6{
    font-size: 14px;
    font-weight: 400;
}
.patient-cornor {
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.patient-cornor .card .card-header p {
    margin-bottom: 0px;
    font-size: 14px;
}
.patient-cornor .card .card-header {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    color: #fff;
    padding: 5px;
}
.patient-cornor .card .card-body p {
    font-size: 13px;
    text-align: justify;
}
.cart-section h6 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.cart-section .card .card-body p {
    margin: 0px;
}
.cart-section .card .card-body p .fa {
    font-size: 25px;
}

/* .section_footer_sticky {display:none;}
.section_footer_sticky p, a{color:#fff;}
.section_footer_sticky .row{padding-left: 15px;padding-right: 15px;}

.testimonals .card .card-body a {
    color: #bd5d38;
} */

#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}
.green{
  background-color:#6fb936;
}
.thumb{
    margin-bottom: 30px;
}
.page-top{
    margin-top:85px;
}
/* image gallery */  
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.modal-header {
     border-bottom: none;
}
.modal-title {
    color:#000;
}
.modal-footer{
    display:none;  
}
.footer-section {
    background-color: #05477d;
    padding-top: 8px;
    padding-bottom: 8px;
}
.footer-section p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin: 0px;
}
.fixed-whatsapp {
     position: fixed;
     bottom: 2px;
     right: 2px;
     width: 50px;
     height: 50px;
     line-height: 50px;
     z-index: 9999;
     text-align: center;
}
 .fixed-whatsapp:before {
     content: "";
     width: 50px;
     height: 50px;
     background-color: #00C853;
     position: absolute;
     border-radius: 100%;
     box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
     z-index: 1;
     top: 0;
     left: 0;
}
 .fixed-whatsapp svg {
     vertical-align: middle;
     z-index: 2;
     position: relative;
}

#main {
  margin: 50px 0;
}

#main #faq .card {
  margin-bottom: 30px;
  border: 0;
}

#main #faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}

#main #faq .card .card-header .btn-header-link {
  color: #000;
  display: block;
  text-align: left;
  background: #f2f2f2;
  color: #222;
  padding: 20px;
}

#main #faq .card .card-header .btn-header-link:after {
  content: "\f077";
  font-family: 'FontAwesome';
  font-weight: 900;
  float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: #f2f2f2;
  color: #000;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f078";
}

#main #faq .card .collapsing {
  background: #f2f2f2;
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  background: #f2f2f2;
  line-height: 30px;
  color: #000;
}
.list-social-icons li {
    margin: 0 20px;
}


@media (max-width: 600px) {
    .headersection p {
        text-align: center;
        margin-bottom: 10px;
    }
    .section-achivements .card {
        border-radius: 0px;
    }
    h2 {
        font-size: 1.5rem;
    }
    .custom-tabs .nav-tabs .nav-link {
        width: 100%;
    }
    section.resume-section {
        padding-top: 2rem !important;
    }   
    .m-mb {
        margin-bottom: 20px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    h6 {
        font-size: 0.87rem;
    }
    .custom-tabs .tab-content .card .card-body {
        min-height: 50px;
    }
    .testimonal .carousel-inner {
        min-height: 630px;
    }
    .section_footer_sticky {
        background:#01008a; position: sticky;
        bottom: 0;
        z-index: 1020; display: block;
    }
    .section_footer_sticky p, a {font-size: 1.1rem; margin: 0px;}
    .border-ri {border-right:1px solid #fff;}
    #main #faq .card .card-header .btn-header-link {
        text-wrap: auto;
    }
    #main #faq .card .card-header .btn-header-link.collapsed {
        text-wrap: auto;
    }
    .list-social-icons li {
        margin: 0 0px;
    }
    .fixed-whatsapp {
        right: 20px;
    }
    .section-title h2 {
        margin-top: 0px !important;
    }
    .about-para h4 {
        padding-top: 15px;
    }
}
